#clockcontainer{margin: auto;
    position: static;
    height: 400px;
    width: 400px;
    background:url(clock.png) no-repeat;
    background-size: 100%;
    top: 118px;
    opacity: 0.5;
    left: 450px;
   }
    body{position: static;
        background:url(Cback.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

#hour , #minute ,#second{position:relative;
    background:rgb(255, 0, 0);
border-radius: 5px;
transform-origin: bottom;
opacity: 1;
color: black;
}
#hour{
    height: 40px;
    width: 5px;
    top: 108px;
    left: 197px;
    
    
}
    #minute{
        height: 62px;
    width: 5px;
    top: 44px;
left: 196px;}
   
   
    
        #second{
            height: 60px;
    width: 3px;
    top: -15px;
    left: 197px;
}
 h2{
    color: rgb(219, 221, 80);
    font-family:cursive;
    font-weight: 600;
    margin: auto;
    width: fit-content;
    margin: auto;
    display: block;
}